@charset "utf-8";
	.st0
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 41px;
	position : absolute ;
	left : 54px;
	top : 324px;
	width : 891px;
	height : 321px;
}
.st1
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 26px;
	position : absolute ;
	left : 441px;
	top : 344px;
	width : 27px;
	height : 34px;
}
